<header>
    <nav class="nav">
        <div class="logo">
            <img src="image.png" alt="logo">
            <a href="/">Create Invoice</a>

        </div>
        <ul class="navwrapper">
            <li>
                <a href="/sales" class="<%= activePage === 'sales' ? 'active' : '' %>">
                    Sales
                </a>
            </li>
            <li>
                <a href="/datastores" class="<%= activePage === 'master' ? 'active' : '' %>">
                    Master
                </a>
            </li>
        </ul>

    </nav>
</header>